body{
    margin: 0px;
}
    
header{
    background-color: #ff8000;
    height:60px;
    display: flex;
    align-items: center;
}

.firstSection{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: -76px;
}
.h1topic{
    margin-top:-60px;
}
h3{
    color: #ff8000;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding-left: 10px;
    background-color: #f2f0f0;
}
footer {
     background-color: #f2f0f0;
     color: #656565;
     font-weight: bold;
}
a{
    text-decoration: none;
    color: #656565;
    font-weight: bold;
    padding: 12px;
}
.forwardIcon{
    height: 26px;
}



