html {
    scroll-behavior: smooth;

}

body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;

}

.mainSection {
    width: calc(100% - 300px);
}

header {
    background-color: #ff8000;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);
    display: flex;
    justify-content: space-between;
}

.firstSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: -76px;

}

.h1topic {
    margin-top: -60px;
}

.orangeBold {
    color: #ff8000;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding-left: 10px;
    background-color: #f2f0f0;
}

footer {
    background-color: #363636;
    color: #f2f0f0;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

a {
    text-decoration: none;
    color: #656565;
    font-weight: bold;
    padding: 12px;
}
a:hover{
    color: #ff8000;
}

.forwardIcon {
    height: 26px;
}

.borderlineDiv {
    border: 2px solid #f2f0f0;
    margin: 16px;
    padding-left: 10px;
}

.borderlineDiv:hover {
    background-color: #ff80003a;
    cursor: pointer;
}

h1,
h2 {
    padding-left: 10px;
}

.plusDiv {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-top: -15px;

}

.plusIMG {
    border: 2px solid #f2f0f0;
    cursor: pointer;
}

hr {
    border: 0.5px #d0d0d0b4 solid;
    width: 250px;
}

nav {
    display: none;
    flex-direction: column;
    background-color: #ffffffe3;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    font-size: 19px;

}

.burger {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
}

.burger span {
    height: 3px;
    background-color: white;
    border-radius: 2px;
    width: 25px;
    margin: 3px 0;
    display: block;
    transition: all 0.3s ease;
    margin-right: 30px;
}

nav.show {
    display: flex;
}

.burger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(7px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-7px);
}

.link {
    position: relative;
    margin: 13px 0;
    padding-bottom: 5px;
    display: inline-block;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 2px;
    background-color: #ff8000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}