body{
    margin: 0px;
}
    
header{
    background-color: #ff8000;
    height:60px;
    display: flex;
    align-items: center;

}
.logo{
    width: 100px;
    padding-left:12px;
}
footer {
     background-color: #3b3b3b;
}


