.img_mainSection{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.ImgLogo{
    border-radius: 100px;
    width: 150px;
}
.logo{
    width: 100px;
    padding-left:12px;
}
.imgDishes {
    width: 100%;
    height: 130px;
    object-fit: cover;
}
