.img_mainSection {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.ImgLogo {
    border-radius: 100px;
    width: 150px;
}

.logo {
    width: 100px;
    padding-left: 12px;
}

.imgDishes {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

#overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: #fffffff2;
    justify-content: center;
    align-items: center;
}

.overlay-content {

    padding: 30px;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
    width: 90%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.overlay-content h2 {
    color: orange;
    margin-bottom: 10px;
}

.overlay-content p {
    margin-bottom: 20px;
}

.close-btn {
    background: orange;
    color: white;
    padding: 10px 18px;
    border: none;
    cursor: pointer;

}