.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.basket-wrapper {
    width: 300px;
    flex-grow: 1;
    background-color: white;

}

.basketSection {
    width: 100%;
    height:100vh;
    padding-top:5px;
    position: sticky;
    top:0px;
    box-shadow: 1px 7px 17px 1px rgba(0, 0, 0, 0.084);
}
.bskContent {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
}

.bskIcons {
    object-fit: cover;
    width: 20px;
    cursor: pointer;

}

table {
    color: gray;
    padding-left: 10px;
}