.content-wrapper{
display: flex;
justify-content: space-between;
}
.basket-wrapper{
    width: 300px;
    flex-grow: 1;
    background-color: white;

}
.basketSection{
    width: 100%;
    height: 400px;
    position: sticky;
    top: 0;
}
.bskContent{
    display: flex;
    justify-content: space-around;
}
.bskIcons{
    object-fit: cover;
    width: 20px;
    cursor: pointer;

}
table{
    color: gray;
}




