.content-wrapper {
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.basket-wrapper {
    width: 300px;
    flex-grow: 1;
    background-color: #ffffff;
}

.basketSection {
    width: 100%;
    padding-top: 5px;
    position: sticky;
    top: 0px;
    box-shadow: 1px 7px 17px 1px rgba(0, 0, 0, 0.084);
    padding-bottom: 10px;
}

.bskContent {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
}

.basketcontentprice {
    color: grey;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.bskIcons {
    object-fit: cover;
    width: 20px;
    cursor: pointer;
}

.bskIcons:hover {
    transform: scale(1.3);
    transition: 0.2s ease;

}

.plusIMG:hover {
    transform: scale(1.3);
    transition: 0.2s ease;
    cursor: pointer;
}

.btn {
    padding: 14px 20px;
    background: orange;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}

.btnPosition {
    display: flex;
    justify-content: center;
}


#basketBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 20px;
    background: orange;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1000;
}


#basketOverlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    align-items: flex-start;
    padding: 40px 0;
    z-index: 9999;
    overflow: hidden;
}
body.no-scroll {
    overflow: hidden;
}

#basketOverlayContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

#closeOverlay {
    background: none;
    border: none;
    font-size: 26px;
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}

.cartScroll {
    overflow-y: scroll;
    max-height: 100vh;;
}

.cartScroll::-webkit-scrollbar {
    width: 10px;
}

.cartScroll::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 5px;
}
#basketOverlayInner {
    display: flex;
    flex-direction: column;
    height: 60vh; 
}

#basketOverlayScroll {
    flex: 1;
    overflow-y: auto;
}

#basketOverlayFooter {
    position: sticky;
    bottom: 0;
    background: white;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}


@media (max-width: 900px) {
    .basket-wrapper {
        display: none;
    }

    #basketBtn {
        display: block;
    }

    .mainSection {
        width: 100%;
    }

    nav {
        text-align: center;
    }

    .link::after {
        width: 100%;
    }

    #closeOverlay {
        top: 40px;
    }

}

@media (max-width: 400px) {
    #closeOverlay {
        top: 40px;
    }

    hr {
        width: 100px;
    }

    .basketcontentprice {
        padding: 0;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
}